


@keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  .blur1{
    box-shadow: 15px 1px 20px 20px var(--pri);
  }
  .blur2{
    box-shadow: -15px 1px 20px 20px var(--pri);
  }


  .animate-scroll {
    display: flex;
    gap: 1px;
    animation: scroll 15s linear infinite;
    /* background: red; */
    width: max-content;
  }


  .tech-list {
    display: flex;
    gap: 1px;
  }

  .tech-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    border-radius: 8px;
    font-weight: bold;
    white-space: nowrap;
    min-width: 120px;
  }

  #about .part1 .textcont{
    font-size: var(--textR)
  };


  @media (max-width: 768px) {
    .tech-item{
      padding: 0px 5px;
      min-width: 10px;
      background-color: aqua;
  }
  }
  @media (max-width: 480px){
    #about .part1 .textcont{
        width: 100%;
    }
    .tech-item{
        padding: 10px 5px;
        min-width: 50px;

        /* background-color: bisque; */
    }

    .blur1{
      box-shadow: 15px 1px 10px 10px var(--pri);
    }
    .blur2{
      box-shadow: -15px 1px 10px 10px var(--pri);
    }

  }