@font-face {
  font-family: 'regular';
  src: url(/font/Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'regular-i';
  src: url(/font/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'heading-b';
  src: url(/font/Ubuntu/Ubuntu-Bold.ttf);
}
@font-face {
  font-family: 'heading-r';
  src: url(/font/Ubuntu/Ubuntu-Regular.ttf);
}
:root {
  --main: #111;
  --pri: #ffffff;
  --sec: #414141;
  --normal: 1.4vw;
  --heading: 2vw;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #000;
  /* color: #fff; */
  position: relative;
}
main {
}

@tailwind base;
@tailwind components;
@tailwind utilities;
